.menu {
    list-style: none;
    font-family: cursive;
    float: right;
    top: 10px;
    right: 30px;
    cursor: pointer;
    color: black;
    text-align: right;
    font-family: 'Pacifico', cursive;
}

html {
    scroll-behavior: smooth;
}

#My Hobby {
    background: rgb(224, 86, 184);
    background: radial-gradient(circle, rgba(224, 86, 184, 1) 0%, rgba(115, 121, 224, 1) 100%);
    font-family: 'Pacifico', cursive;
}

img {
    width: 400px;
    height: 330px;
}

body {
    text-align: center;
    color: black;
    background: rgb(224, 86, 184);
    background: radial-gradient(circle, rgba(224, 86, 184, 0.5270483193277311) 0%, rgba(116, 161, 219, 0.7595413165266106) 87%, rgba(220, 224, 115, 0.7511379551820728) 100%);
}

.links {
    float: left;
    color: azure;
    padding-top: 5px;
    padding-right: 9px;
    padding-left: 9px;
    padding-bottom: 5px;
    font font-family: fantasy;
    font-size: 25px;
    text-align: center;
}

.artical {
    text-align: center;
    color: blue;
}

.link:hover {
    background-color: royalblue;
    color: orangered;
}

a {
    text-decoration: none;
}

.artical:hover {
    color: white;
    background-color: blue;
}

My Favourite Book {
    background: rgb(90, 86, 224);
    background: radial-gradient(circle, rgba(90, 86, 224, 0.9304096638655462) 0%, rgba(62, 143, 83, 1) 22%, rgba(232, 206, 0, 1) 42%, rgba(116, 219, 154, 0.7847514005602241) 85%, rgba(210, 40, 40, 0.9836309523809523) 100%);
}
